<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="ShoppingListCheckOff">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <title>Shopping Cart</title>
    <script type="text/javascript" src="angular.min.js">

    </script>
    <script type="text/javascript" src="app.js">

    </script>
  </head>
  <body>
    <div ng-controller="ToBuyController as toBuy">
      <h1>To Buy</h1>
      <ul>
        <div class="errorMessage" ng-if="toBuy.toBuyItems.length==0">
          <h4>{{toBuy.errorMessage}}</h4>
        </div>
        <li ng-repeat="item in toBuy.toBuyItems">
          Buy {{item.quantity}} {{item.name}}
          <button type="button" name="button" ng-click="toBuy.moveToQueue($index,item.name,item.quantity);toBuy.removeItem($index);">Bought</button>
        </li>
      </ul>
    </div>
    <div ng-controller="AlreadyBoughtController as alrdyBgt">
      <h1>Already Bought</h1>
      <ul>
        <div class="errorMessage" ng-if="alrdyBgt.alrdyBgtItems.length==0">
          <h4>{{alrdyBgt.errorMessage}}</h4>
        </div>
        <li ng-repeat="item in alrdyBgt.alrdyBgtItems">Bought {{item.quantity}} {{item.name}}</li>
      </ul>
    </div>
  </body>
</html>
