<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.min.js"></script>
    <title>Module 1 Assignment</title>
  </head>
  <body ng-app="LunchCheck">
    <div ng-controller="LunchCheckController">
      <div><h3>Enter comma separated values(<i>eg. bread, butter, jam</i>)</h3></div>
      <input type="text" ng-model="food" ng-keyup="clearMessage();" class="{{validity}}">
      <button type="button" name="button" ng-click="checkFood();">Check If Too Much</button>
      <div class="{{state}}">{{message}}</div>
      <div><i><b>P.S.</b> We do NOT consider an empty item, i.e., , , as an item towards to the count.</i></div>
    </div>
  </body>
</html>
